.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

footer{
  background-color: #1c222a;
  margin:0px auto;
  height: 100%;
}


.footer-copyright{
  color: white;
}
footer a{
  color: rgba(161, 148, 209, 0.993);
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: whitesmoke ;
  color:dark;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #1c222a;
}

.color-black{
  background-color: #1c222a;
}
.dropdown-menu.show{
  background-color: #1c222a;
}
.dropdown-item{
  color: white; 
}

.modal-content{
  background-color: #1c222a;
  color: white;
}

.modal-header{
  color: rgba(161, 148, 209, 0.993);
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-1 {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

kbd {
  background-color: white;  
  color: black;                 
}

@media (min-width: 992px) and (max-width: 1199px){
  .img-trouble{
    height: 450px;
    width: 100%;
  }
}

@media (min-width: 1200px){
  .img-trouble{
    height: 330px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .img-trouble{
    height: 330px;
  }
}